// paper & background
$paper: #F1F5F9;
 
// primary
$primaryLight: #99D3FF;
$primaryMain: #0191FF;
$primaryDark: #0191FF;
$primary200: #64a4d8;
$primary800: #006ABB;
 
// secondary
$secondaryLight: #99D3FF; // Azul más claro  
$secondaryMain: #0191FF;  // Azul base  
$secondaryDark: #0191FF;  // Azul más oscuro  
$secondary200: #64a4d8;   // Azul intermedio  
$secondary800: #006ABB;   // Azul muy oscuro  
 
 
// success Colors
$successLight: #DAF4EC;
$success200: #DAF4EC;
$successMain: #44CA9F;
$successDark: #44CA9F;
 
// error
$errorLight: #FFEDED;
$errorMain: #EF4444;
$errorDark: #EF4444;
 
// orange
$orangeLight: #FFF3E5;
$orangeMain: #F88A00;
$orangeDark: #F88A00;
 
// brown
$tealLight: #76c893;
$tealMain: #52b69a;
$tealDark: #34a0a4;
 
// warning
$warningLight: #FFF3E5;
$warningMain: #F88A00;
$warningDark: #F88A00;
 
// grey
$grey50: #F1F5F9;
$grey100: #E2E8F0;
$grey200: #94A3B8;
$grey300: #94A3B8;
$grey500: #94A3B8;
$grey600: #94A3B8;
$grey700: #94A3B8;
$grey900: #21252B;
 
// transparent
$transparent: #ffffff00;
 
// ==============================|| DARK THEME VARIANTS ||============================== //
 
// paper & background
$darkBackground: #191b1f;
$darkPaper: #191b1f;
 
// dark 800 & 900
$darkLevel1: #0F172B; // level 1
$darkLevel2: #202938; // level 2
 
// primary dark
$darkPrimaryLight: #21252B;
$darkPrimaryMain: #555C67;
$darkPrimaryDark: #21252B;
$darkPrimary200: #F1F5F9;
$darkPrimary800: #32353b;
 
// secondary dark
$darkSecondaryLight: #454c59;
$darkSecondaryMain: #263C7A;
$darkSecondaryDark: #ffffff;
$darkSecondary200: #32353b;
$darkSecondary800: #07153A;
 
// text variants
$darkTextTitle: #d7dcec;
$darkTextPrimary: #bdc8f0;
$darkTextSecondary: #8492c4;
 
// ==============================|| JAVASCRIPT ||============================== //
 
:export {
    // paper & background
    paper: $paper;
 
    // primary
    primaryLight: $primaryLight;
    primary200: $primary200;
    primaryMain: $primaryMain;
    primaryDark: $primaryDark;
    primary800: $primary800;
 
    // secondary
    secondaryLight: $secondaryLight;
    secondary200: $secondary200;
    secondaryMain: $secondaryMain;
    secondaryDark: $secondaryDark;
    secondary800: $secondary800;
 
    // success
    successLight: $successLight;
    success200: $success200;
    successMain: $successMain;
    successDark: $successDark;
 
    // error
    errorLight: $errorLight;
    errorMain: $errorMain;
    errorDark: $errorDark;
 
    // orange
    orangeLight: $orangeLight;
    orangeMain: $orangeMain;
    orangeDark: $orangeDark;
 
    // orange
    tealLight: $tealLight;
    tealMain: $tealMain;
    tealDark: $tealDark;
 
    // warning
    warningLight: $warningLight;
    warningMain: $warningMain;
    warningDark: $warningDark;
 
    // grey
    grey50: $grey50;
    grey100: $grey100;
    grey200: $grey200;
    grey300: $grey300;
    grey500: $grey500;
    grey600: $grey600;
    grey700: $grey700;
    grey900: $grey900;
 
    // ==============================|| DARK THEME VARIANTS ||============================== //
 
    // paper & background
    darkPaper: $darkPaper;
    darkBackground: $darkBackground;
 
    // dark 800 & 900
    darkLevel1: $darkLevel1;
    darkLevel2: $darkLevel2;
 
    // text variants
    darkTextTitle: $darkTextTitle;
    darkTextPrimary: $darkTextPrimary;
    darkTextSecondary: $darkTextSecondary;
 
    // primary dark
    darkPrimaryLight: $darkPrimaryLight;
    darkPrimaryMain: $darkPrimaryMain;
    darkPrimaryDark: $darkPrimaryDark;
    darkPrimary200: $darkPrimary200;
    darkPrimary800: $darkPrimary800;
 
    // secondary dark
    darkSecondaryLight: $darkSecondaryLight;
    darkSecondaryMain: $darkSecondaryMain;
    darkSecondaryDark: $darkSecondaryDark;
    darkSecondary200: $darkSecondary200;
    darkSecondary800: $darkSecondary800;
 
    // transparent
    transparent: $transparent;
}